[Unit]
Description=Sysinfo Keeper Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sinfo
Restart=always

[Install]
WantedBy=multi-user.target
